:root {
  --header-height: 70px;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.header {
  height: var(--header-height);
}

.main-content {
  height: calc(100vh - var(--header-height));
}

.img-item {
  max-height: 150px;
  width: auto;
}

.side-bar-width {
  width: 180px;
}

@media (max-width: 745px) {
  .side-bar-width  {
    width: 70px;
  }
  .sidebar-list {
    display: none;
    background: none; 
  }
} 

@media (max-width:665px) {
  .google {
    display: none;
  }
}

.show {
position: fixed;
max-height: 200vh;
max-width: 200vw;
top: 10%;
left: 30%;
z-index: 1;
}

body .list {
	width: 100%;
	max-width: 768px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-top: 25px;
}

/* .pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pagenumbers button {
	width: 50px;
	height: 50px;

	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: #44AAEE;

	margin: 5px;
	transition: 0.4s;

	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: #44EEAA;
}

.pagenumbers button.active {
	background-color: #44EEAA;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
} */


.pagination li:hover, .pagination li.activeButton {
  cursor: pointer;
  color: rgb(49, 65, 243);
  border: 1px solid rgb(49, 65, 243);
}