:root {
  --header-height: 70px;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  height: 100vh;
}

.header {
  height: var(--header-height);
}

.main-content {
  height: calc(100vh - var(--header-height));
}

.image-item .active {
  border: 10px solid red;
}

@media (max-width: 768px) {
  .sidebar {display: none;}
}

.logo {
  font-size: 20px;
}

@media (min-width:768px) {
   .logo {
    font-size: 18px;
    }
}

@media (min-width:1024px) {
  .logo {
    font-size: 16px;
  }
}

@media (min-width:1280px) {
  .logo {
    font-size: 14px;
  }
}

